@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
    box-sizing: border-box;
=======
>>>>>>> 81e0aa9016e347857add8d46cd0b29b3e3d812fd
}

body{
   margin: 0;
   padding: 0;
   position: relative;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* GRAPH BACKGROUND */
.graph-bg {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(1, 0, 0, 0.5) 1px, transparent 1px);
  background-size: 30px 30px;
  z-index: -1;
}

/* SECTION */
section{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

section button{
    padding: 20px 50px;
    border: 1px solid #000;
    border-radius: 5px;
    background: white;
    font-size: 24px;
}

/* MODAL CONTAINER */
.container{
    width: 0;
    height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.699);
    backdrop-filter: blur(2px);
<<<<<<< HEAD
    transition: all .1s ease;
=======
>>>>>>> 81e0aa9016e347857add8d46cd0b29b3e3d812fd
}

.container.active{
    width: 100%;
    height: 100vh;
    z-index: 99;
}


/* MODAL BOX */
.modal{
    display: grid;
    grid-template-rows: 1fr 200px 1fr;
    width: 0;
    height: 0;
    padding: 0 50px;
    overflow: hidden;
    border-radius: 2px;
    background-color: rgba(56, 56, 59, 0.715);

    animation-fill-mode: forwards;
    z-index: 100;
    transition: all .1s ease;
<<<<<<< HEAD
    position: relative;

   
=======
>>>>>>> 81e0aa9016e347857add8d46cd0b29b3e3d812fd
}

.container.active .modal{
    animation: open .1s forwards;
}

/* TEXT ELEMENTS */
.container.active .modal h1{
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    margin: auto;

    opacity: 0;
    visibility: hidden;

    animation: showText 1s linear .5s forwards;
}

.container.active .modal p{
    opacity: 0;
    visibility: hidden;
    animation: showText 1s linear 1s forwards;
}

.container.active .modal button{
    margin: auto;
    width: 50%;
    padding: 20px 50px;
    text-align: center;

    opacity: 0;
    visibility: hidden;

    animation: showText 1s linear 5s forwards;
}

/* ANIMATIONS */

@keyframes open{
    0%{
        width: 0;
        height: 0;
    }

    50% {
        width: 0;
        height: 500px;
    }

    100%{
        width: 50%;
        height: 500px;
    }
}

@keyframes showText{
    to{
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut{
    to{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
<<<<<<< HEAD
@keyframes fadeoutBackgroud{
    to{
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0);
    }
}
=======

>>>>>>> 81e0aa9016e347857add8d46cd0b29b3e3d812fd
@keyframes closeWidth{
    from{
        width: 50%;
        height: 500px;
    }

    to{
<<<<<<< HEAD
        width: 1%;
=======
        width: 0;
>>>>>>> 81e0aa9016e347857add8d46cd0b29b3e3d812fd
        height: 500px;
    }
}

@keyframes closeHeight{
    from{
        height: 500px;
<<<<<<< HEAD
        width: 1%;
=======
        width: 0;
>>>>>>> 81e0aa9016e347857add8d46cd0b29b3e3d812fd
    }

    to{
        height: 0;
        width: 0;
    }
}